In [2]:
import pandas as pd

In [3]:
df_csv = pd.read_csv('customer_segmentation.csv')

In [4]:
data = pd.read_csv('customer_segmentation.csv')

In [5]:
data.head(10)

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [18]:
data.head(20)

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom

In [7]:
data.columns

Index(['index', 'InvoiceNo', 'StockCode', 'Description', 'Quantity',
       'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  object
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB

In [9]:
data.duplicated

<bound method DataFrame.duplicated of          index InvoiceNo StockCode                          Description  \
0            0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1            1    536365     71053                  WHITE METAL LANTERN
2            2    536365    84406B       CREAM CUPID HEARTS COAT HANGER
3            3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4            4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.
...        ...       ...       ...                                  ...
541904  541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS
541905  541905    581587     22899         CHILDREN'S APRON DOLLY GIRL
541906  541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL
541907  541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE
541908  541908    581587     22138        BAKING SET 9 PIECE RETROSPOT

        Quantity      InvoiceDate  UnitPrice  CustomerID         Country
0              6   12/1/2010 8:26       2.55     17850.0  United Kingdom
1              6   12/1/2010 8:26       3.39     17850.0  United Kingdom
2              8   12/1/2010 8:26       2.75     17850.0  United Kingdom
3              6   12/1/2010 8:26       3.39     17850.0  United Kingdom
4              6   12/1/2010 8:26       3.39     17850.0  United Kingdom
...          ...              ...        ...         ...             ...
541904        12  12/9/2011 12:50       0.85     12680.0          France
541905         6  12/9/2011 12:50       2.10     12680.0          France
541906         4  12/9/2011 12:50       4.15     12680.0          France
541907         4  12/9/2011 12:50       4.15     12680.0          France
541908         3  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 9 columns]>

In [10]:
data.duplicated().sum()

np.int64(0)

In [11]:
data['Country']

0         United Kingdom
1         United Kingdom
2         United Kingdom
3         United Kingdom
4         United Kingdom
               ...
541904            France
541905            France
541906            France
541907            France
541908            France
Name: Country, Length: 541909, dtype: object

In [12]:
data['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [13]:
    data['Description']

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [14]:
data['Description'].unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], shape=(4224,), dtype=object)

In [15]:
data['InvoiceNo'].nunique()

25900

In [16]:
for i in data.columns:
    print(f"{i}: {data[i].nunique()}")

index: 541909
InvoiceNo: 25900
StockCode: 4070
Description: 4223
Quantity: 722
InvoiceDate: 23260
UnitPrice: 1630
CustomerID: 4372
Country: 38

In [17]:
# check how many similar products did each customer buy
data.groupby('CustomerID')['Description'].nunique()

CustomerID
12346.0      1
12347.0    103
12348.0     22
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     12
18283.0    272
18287.0     59
Name: Description, Length: 4372, dtype: int64

In [39]:
#is stockcode and description have one to one relationship
data.groupby('StockCode')['Description'].nunique()

StockCode
10002           1
10080           2
10120           1
10123C          1
10123G          0
               ..
gift_0001_20    1
gift_0001_30    1
gift_0001_40    1
gift_0001_50    1
m               1
Name: Description, Length: 4070, dtype: int64

In [21]:
data[data['StockCode']=='10123G']

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
150159,150159,549349,10123G,NaN,-38,4/8/2011 11:13,0.0,NaN,United Kingdom

In [ ]:
#fill in description for the stoockcode where descripption is not one to one
data.loc[(data['StockCode']=='gift_0001_20') & (data['Description']), 'Description'] = 'Gift Card 20'

In [ ]:
data[data['StockCode']=='gift_0001_20bb

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
44794,44794,540238,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,1/5/2011 14:44,17.02,NaN,United Kingdom
55589,55589,540995,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,1/13/2011 9:30,16.67,NaN,United Kingdom
91278,91278,544089,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,2/15/2011 17:51,16.67,NaN,United Kingdom
161388,161388,550474,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,2,4/18/2011 13:58,16.67,NaN,United Kingdom
163440,163440,550542,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,4/19/2011 11:37,16.67,NaN,United Kingdom
228807,228807,556955,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,10,6/16/2011 9:04,0.00,NaN,United Kingdom
234137,234137,557500,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,6/20/2011 15:27,16.67,NaN,United Kingdom
239899,239899,558068,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,6/24/2011 15:51,16.67,NaN,United Kingdom
291036,291036,562420,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,8/4/2011 16:38,16.67,NaN,United Kingdom
431349,431349,573585,gift_0001_20,Dotcomgiftshop Gift Voucher £20.00,1,10/31/2011 14:41,16.67,NaN,United Kingdom

In [25]:
#change description of index 228807 to Dotcomgiftshop Gift Voucher £20.00
data.loc[228807, 'Description'] = 'Dotcomgiftshop Gift Voucher £20.00'

In [ ]:
#fill in missing values in description column where thestockcode is not one to one 
data.loc[(data['StockCode']=='m') & (data['Description'].isnull()), 'Description'] = 'Manual'

In [ ]:
#fill the description column where stockcode is not one to one to description with one to one value
data.loc[(data['StockCode']=='m') & (data['Description'].isnull()), 'Description'] = 'Manual'

In [ ]:
#fill the value so that  stock code = descripion
data.loc[(data['StockCode']=='m') & (data['Description'].isnull()), 'Description'] = 'Manual'

In [ ]:
#make  stockcode and description to have one to one relationship
data.loc[(data['StockCode']=='gift_0001_20') & (data['Description'].isnull()), 'Description'] = 'Gift Card 20'

In [34]:
#fill so that stockcode and description have one to one relationship
data.loc[(data['StockCode']=='gift_0001_20') & (data['Description'].isnull()), 'Description'] = 'Gift Card 20'

In [31]:
data[data['StockCode']=='10123G']

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
150159,150159,549349,10123G,NaN,-38,4/8/2011 11:13,0.0,NaN,United Kingdom

In [ ]:
data[data['StockCode']=='10080']

In [ ]:
#delete row where quantity is less than or equal to 0
data = data[data['Quantity'] > 0]